[default]
dir = ./

[post]
dir = ./content/post/
notes-name = "README.md"
# unique-document-keys = ['doi','ref','isbn','isbn10','url','doc_url','uuid']

database-backend = papis
use-cache = False

#opentool = rifle
#file-browser = ranger
#add-confirm = True
#add-edit = True
#add-open = True
sort-field = year

########################################
# format
########################################

# add-name = {doc[uuid]}
; browse-key

ref-format = '{doc[time-added]:.10}-{doc[title]}'
# WARNING: These were used on older version of papis:
# - file-name, folder-name
# WARNING: These require a "newer" version of papis
# - add-file-name, add-folder-name

# file-name = 'index.md'
# add-file-name = {doc[date]}{doc[title]}
#add-file-name = 'index.md'

; folder-name = '{doc[date]}{doc[title]}'
; add-folder-name = '{doc[date]}{doc[title]}'

; Ideally '{[time-added].10}' results in '2020-12-31'
folder-name = '{doc[time-added]:.10}-{doc[title]}'
add-folder-name = '{doc[time-added]:.10}-{doc[title]}'

; format-doc-name (config-settings-format-doc-name)
#browse-query-format = {doc[date]}{doc[title]}
#document-description-format = {doc[title]} - {doc[author]}

#
# Define custom default match and header formats
#
#match-format = {doc[tags]}{doc.subfolder}{doc[title]}{doc[author]}{doc[year]}
# match-format =

#
# Define header format with colors and multiline support
#
; header-format = <red>{doc.html_escape[title]}</red>
;   <span color='#ff00ff'>  {doc.html_escape[author]}</span>
;   <yellow>   ({doc.html_escape[year]})</yellow>

[settings]
#default-library = default
default-library = post

